@charset "utf-8";
/* CSS Document */

.page-center {
	width:1080px;
	margin:0 auto;
}

.column-half{
	width:50%;
	height:auto;
	float: left;
}

.column-inner{
	width:auto;
	height:auto;
	margin:0 10px;
	padding:0 10px;
}

.text-title{
	text-align: center;
	padding-top: 1em;
}

.oeuvre {
	font-style: italic;
	font-weight: lighter;
}

.arrowup {
	height: 0;
	width: 0;
	display: inline-block;
	border: 5px solid transparent;
	border-bottom-color: #ccc;
}
.arrowdown {
	height: 0;
	width: 0;
	display: inline-block;
	border: 5px solid transparent;
	border-top-color: #ccc;
}