@charset "utf-8";
/* CSS Document */

#page{
	width:1080px;
	margin:0 auto;
	padding:0 10px 10px;
	background-image:url(../../img/Transparent_Border.png);
	background-repeat:repeat;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

#maincontainer{
	width:100%;
	margin:0 auto;
	padding:0;
	background-color:white;
}


/** Side navigation **/
#sidenav {
}

#sidenav ul {
	margin: 0 0;
	padding: 0 0.8em;
	list-style-type:none;	
}

#sidenav ul li {
	margin:0em;
}


/** Coloumns **/
#column-container{
	width:100%;
	margin:0;
	padding:0;
	display:inline-block;
	background-color:white;
}

#left-column{
	width:25%;
	height:auto;
	margin:0;
	padding:0;
	float:left;
	display:inline-block;
}

#center-column{
	width:60%;
	height:auto;
	margin:0;
	padding:0;
	float:left;
	display:inline-block;
}

#right-column{
	width:15%;
	height:auto;
	margin:0;
	padding:0;
	float:left;
	display:inline-block;	
}

#nav-column{
	width:25%;
	height:auto;
	float:left;
	display:inline-block;
}

#text-column{
	width:75%;
	height:auto;
	float:left;
	display:inline-block;
}