@charset "utf-8";
/* CSS Document */

#top-bar-bg {
	width: 100%;
	position: fixed;
	background: black;
	background: -webkit-linear-gradient(#222, black);
	background: -moz-linear-gradient(#222, black);
	background: -ms-linear-gradient(#222, black);
	background: -o-linear-gradient(#222, black);
	background: linear-gradient(#222, black);
	opacity: 0.90;
	z-index: 10;
}

#page {
	padding-top: 70px;
	padding-bottom: 24px;
}

#page-inner {
	width: 100%;
	min-height: 700px;
	padding: 36px;
	display:inline-block;
	background-color:white;
	border-radius: 5px;
}

#bottom-bar-bg {
	background-color: black;
	opacity: 0.74;
	z-index: 9;
}


/** Side navigation **/
#sidenav {
}

#sidenav ul {
	margin: 0 0;
	padding: 0 0.8em;
	list-style-type:none;	
}

#sidenav ul li {
	margin:0em;
}


/** Coloumns **/
#nav-column{
	width:25%;
	height:auto;
	margin-left: -30px;
	float:left;
	display:inline-block;
}

#text-column{
	width:75%;
	height:auto;
	float:left;
	display:inline-block;
}