/*--- Tag styles ---*/
body {
	background-color:#eee;
	font-family: 'Droid Sans', serif;
	font-weight: 300;
}

h1 { /* Story title */
	margin:80px 0px 40px;
	text-align:center;
	font-size:2em;
	font-weight: bold;	
}

p { /* Paragraphs and dialogs */
	margin:0 58px;
	padding: 0 0 1em;
	text-indent:2em;
	text-align: justify;
	font-size:1em;
	font-weight: normal;
}

footer {
	margin:80px 64px 40px;
	text-align:right;
	color: #444;
}


/*--- Divs styles ---*/

#top-bar-bg {
	position: absolute;
	opacity: 1;
}

#page {
	width:820px;
	margin:60px auto;
	padding:10px;
	background-color:#fff;
	border-radius:6px;
}

.page-center {
	width:1080px;
	margin:0 auto;
}

#maincontainer {
	width:100%;
	margin:0 auto;
	padding:0;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1080px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}