/*--- Tag styles ---*/
body {
	background-color:#eee;
	font-family: 'Droid Sans', serif;
	font-weight: 400;
}

h1 { /* Story title */
	margin-bottom:54px;
	text-align:center;
	font-size:2em;
}

p { /* Paragraphs and dialogs */
	margin:0;
	padding: 0 0 1em;
	text-indent:2em;
	text-align: justify;
	font-size:1em;
	font-weight: normal;
}


/*--- Divs styles ---*/

#page {
	margin-bottom: 900px;
}
