@charset "utf-8";
/* CSS Document */

body {
  background-color: #334;
}

h1 {
	text-align: center;
	padding-top: 1em;
}

em {
    font-weight: 700;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1080px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#page {
	min-height: 750px;
	padding-top: 70px;
	padding-bottom: 24px;
}

#paper-sheet {
  width: 100%;
	display:inline-block;
	background-color:white;
	border-radius: 5px;
}

#paper-padding {
  padding: 50px;
}

.page-center {
	width:1060px;
	margin:0 auto;
}

.column-half{
	width:50%;
	height:auto;
	float: left;
}

.column-inner{
	width:auto;
	height:auto;
	margin:0;
	padding:0;
}

.horizontally-centered {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: block;
}

.two-way-centered {
	position: absolute;
	display: block;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.centered-blocks-container {
	font-size: 0;
	text-align: center;
}

.justified-blocks-container {
	font-size: 0;
	text-align: justify;
}

.justified-blocks-container:after {
  display: inline-block;
  content: '';
  width: 100%;
}

.oeuvre {
	font-style: italic;
	font-weight: lighter;
}
