@charset "utf-8";
/* CSS Document */

body {
  background-color: #334;
}

h1 {
	text-align: center;
	padding-top: 1em;
}

h2, h3 {
    text-align: center;
}

em {
    font-weight: 700;
}

ul { 
    list-style-type: disc; 
    list-style-position: inside;
    padding : 0 1em 1em;
}
ol { 
   list-style-type: decimal; 
   list-style-position: inside; 
}
ul ul, ol ul { 
   list-style-type: circle; 
   list-style-position: inside; 
   margin-left: 15px; 
}
ol ol, ul ol { 
   list-style-type: lower-latin; 
   list-style-position: inside; 
   margin-left: 15px; 
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1080px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#page {
	min-height: 750px;
	padding-top: 70px;
	padding-bottom: 24px;
}

#paper-sheet {
  width: 100%;
	display:inline-block;
	background-color:white;
	border-radius: 5px;
    padding: 50px;
}

#paper-padding {
    width: 100%;
    display: inline-block;
}

.page-center {
	width:960px;
	margin:0 auto;
}

.column-half{
	width:50%;
	height:auto;
	float: left;
}

.column-inner{
	width:auto;
	height:auto;
	margin:0;
	padding:0;
}

.horizontally-centered {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: block;
}

.two-way-centered {
	position: absolute;
	display: block;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.centered-blocks-container {
	font-size: 0;
	text-align: center;
}

.justified-blocks-container {
	font-size: 0;
	text-align: justify;
}

.justified-blocks-container:after {
  display: inline-block;
  content: '';
  width: 100%;
}

.oeuvre {
	font-style: italic;
	font-weight: lighter;
}
