@charset "utf-8";
/* CSS Document */

.big {
	width: 533px;
	height: 300px;
	border-color: #2C0;
	background-color: #2C0;
}

.small {
	width: 240px;
	height: 240px;
	border-color: #00f;
	background-color: #00f;
}

.covers-line {
	padding: 20px 0;
}

.cover {
	position: relative;
  	display: inline-block;
	border-style: solid;
	border-radius: 3px;
	border-width: 5px;
  	box-shadow: 5px 5px 5px #333;
	background-color: transparent;
}

.cover-info {
	position: absolute;
	transition: 0.7s;
	opacity: 0;
	font-family: 'Source Sans Pro', serif;
	background-color: transparent;
}

.cover:hover .cover-info {
	transition: 1.0s;
	opacity: 1;
}

.cover-info-header, 
.cover-info-footer {
	position: absolute;
	opacity: 1;
	height: 60px;
}

.cover-info-header {
	top: 0;
	font-size: 16pt;
	font-weight: 400;
}

.cover-info-footer {
	bottom: 0;
	font-size: 10pt;
	font-weight: 400;
}

.cover-info p {
	height: auto;
	margin: 20px 0 10px 10px;
	padding: 0;
	color: #fff;
	text-indent: 0;
	text-align: left;
}

#exth-logo-wrapper {
	width: 160px;
	height: 160px;
}