@charset "utf-8";
/* CSS Document */

.centered {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: block;
}

.big {
	width: 533px;
	height: 300px;
	border-color: #2C0;
	background-color: #2C0;
}

.small {
	width: 300px;
	height: 300px;
	border-color: #00f;
	background-color: #00f;
}

.covers-line-single {
	margin: 20px 0;
	font-size: 0;
	text-align: center;
}

.covers-line-multiple {
	padding: 20px 0;
	font-size: 0;
	text-align: justify;
}

.covers-line-multiple:after {
  display: inline-block;
  content: '';
  width: 100%;
}

.cover {
	position: relative;
  	display: inline-block;
	border-style: solid;
	border-radius: 3px;
	border-width: 5px;
  	box-shadow: 5px 5px 5px #333;
	background-color: transparent;
}

.cover-info {
	position: absolute;
	transition: 0.7s;
	opacity: 0;
	font-family: 'Source Sans Pro', serif;
	background-color: transparent;
}

.cover:hover .cover-info {
	transition: 1.0s;
	opacity: 1;
}

.cover-info-header, 
.cover-info-footer {
	position: absolute;
	opacity: 0.8;
	height: 60px;
}

.cover-info-header {
	top: 0;
	font-size: 24pt;
	font-weight: 300;
}

.cover-info-footer {
	bottom: 0;
	font-size: 10pt;
	font-weight: 700;
}

.cover-info p {
	height: auto;
	margin: 20px 0 10px 10px;
	padding: 0;
	color: #fff;
	text-indent: 0;
	text-align: left;
}

.centered {
	position: absolute;
	display: block;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#exth-logo-wrapper {
	width: 160px;
	height: 160px;
}