<link rel=stylesheet href="/css/exth-logo.css"/>
<div class="exth-logo">
	<div class="exth-logo-inner centered">
		<div class="exth-logo-element exth-logo-stair exth-logo-first-stair"></div>
		<div class="exth-logo-element exth-logo-stair exth-logo-second-stair"></div>
		<div class="exth-logo-element exth-logo-curtain exth-logo-curtain-leg exth-logo-curtain-left  exth-logo-curtain-left-leg"></div>
		<div class="exth-logo-element exth-logo-curtain exth-logo-curtain-leg exth-logo-curtain-right exth-logo-curtain-right-leg"></div>
		<div class="exth-logo-element exth-logo-curtain exth-logo-curtain-top-corner exth-logo-curtain-left  exth-logo-curtain-top-left"></div>
		<div class="exth-logo-element exth-logo-curtain exth-logo-curtain-top-corner exth-logo-curtain-right exth-logo-curtain-top-right"></div>
		<div class="exth-logo-element exth-logo-curtain exth-logo-curtain-top-corner-in exth-logo-curtain-left  exth-logo-curtain-top-left-in"></div>
		<div class="exth-logo-element exth-logo-curtain exth-logo-curtain-top-corner-in exth-logo-curtain-right exth-logo-curtain-top-right-in"></div>
		<div class="exth-logo-element exth-logo-curtain exth-logo-curtain-top-middle"></div>
		<!--i class="exth-logo-element exth-logo-text">ExTh</i-->
	</div>
</div>