<nav><ul id="navbar">
	<li><a href="/index.html">Home</a></li>
	<li><a href="/programming/index.html">Programming</a>
		<ul class="submenu">
		<li><a href="/programming/">Experimental Theatre</a></li>
		<li><a href="/programming/">Mouvement De Masse</a></li>
		<li><a href="/programming/">Fluid 2D</a></li>
		<li><a href="/programming/">Water Surface</a></li>
		</ul>
	</li>
	<li><a href="/litterature/index.html">Littérature</a>
		<ul class="submenu">
		<li><a href="/litterature/l'entrevue.html">L'Entrevue</a></li>
		</ul>
	</li>
	<li><a href="">CV</a>
		<ul>
		<li><a href="/cv/CV_WilliamBussiere_fr.doc">Français</a></li>
		<li><a href="/cv/CV_WilliamBussiere_fr.doc">English</a></li>
		</ul>
	</li>
</ul></nav>
