<nav id="navbar">
	<li><a href="/index.html">Home</a></li>
	<li><a href="/programming/index.html">Programming</a>
		<ul>
		<li><a href="/programming/">Experimental Theatre</a></li>
		<li><a href="/programming/">Mouvement De Masse</a></li>		
		<li><a href="/programming/water-surface.html">Water Surface</a></li>
		<li><a href="/programming/">Fluid 2D</a></li>
		</ul>
	</li>
	<li><a href="/litterature/index.html">Littérature</a>
		<ul>
		<li><a href="/litterature/l'entrevue.html">L'Entrevue</a></li>
		</ul>
	</li>
	<li><a href="about/index.html">About</a></li>
</nav>