<div id="top-bar-bg">
	<div class="page-center">
		<header>
			<nav>
				<li><img src="/img/WB_logo_white.png"/></li>
				<li><a href="/index.html">Home</a></li>
				<li><a href="/programming/index.html">Programming <div class="arrowdown"></div></a>
					<ul>
					<li><a href="/programming/experimental-theatre.html">Experimental Theatre</a></li>
					<li><a href="/programming/mouvement-de-masse.html">Mouvement De Masse</a></li>		
					<li><a href="/programming/water-surface.html">Water Surface</a></li>
					<li><a href="/programming/fluid-2d.html">Fluid 2D</a></li>
					</ul>
				</li>
				<li><a href="/litterature/index.html">Littérature <div class="arrowdown"></div></a>
					<ul>
					<!--
					<li><a href="/litterature/Physiologie d'un abîme passionnel en trois temps.html">Physiologie d'un abîme passionnel en trois temps</a></li>
					<li><a href="/litterature/Bleu sur Nuit.html">Bleu sur Nuit</a></li>
					<li><a href="/litterature/Le Fol Admirateur.html">Le Fol Admirateur</a></li>
					<li><a href="/litterature/Les Tableaux chromatiques.html">Les Tableaux chromatiques</a></li>
					<li><a href="/litterature/Le Déclin de l'Insensé.html">Le Déclin de l'Insensé</a></li>
					<li><a href="/litterature/L'Entrevue.html">L'Entrevue</a></li>
					-->
					<li><a href="/litterature/Contemplations vitrées.html">Contemplation vitrées</a></li>
					</ul>
				</li>
				<li><a href="/about/index.html">About</a></li>
			</nav>
		</header>
	</div>
</div>