@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);

#page {
	min-height: 750px;
	padding-top: 70px;
	padding-bottom: 24px;
}

#paper-sheet {
  height: 720px;
  width: 100%;
	display:inline-block;
	background-color:black;
	border-radius:0;
}



/*--- Tag styles ---*/
body {
    font-family: 'Droid Serif', serif;
	font-weight: 400;
    color: cornsilk;
    font-size: 13pt;
}

h1 { /* Story title */
	/*padding-top:210px;/*First titles*/
	/*padding-top:150px;/*Pro/Epi-logues*/
	padding-top:20px;/*Last titles*/
	padding-bottom:0;
	margin-top:0;
	margin-bottom:0;
	text-align:center;
	font-size:4em;
	font-size:4em;
    text-decoration: underline;
}

h2 { /* Story title */
	padding-top:10px;
	padding-bottom:12px;
	margin-top:0;
	margin-bottom:0;
	text-align:center;
	font-size:2.5em;
}

h3 { /* Names */
	padding-top:0;
	padding-bottom:0;
	margin-top:0;
	margin-bottom:0;
	text-align:center;
	font-size:2.7em;
    font-style: italic;
}

 /* Paragraphs and dialogs */
/* White 
p {
	margin:0;
	padding: 0 150px 0.5em;
	text-indent:2.0em;
	text-align:justify;
	font-size:1.7em;
	font-weight: normal;
}
/**/
/* Black */
p {
	margin:0;
	padding: 0 150px 0.5em;
	text-indent:0em;
	text-align:center;
	font-size:1.5em;
	font-weight: normal;
}
/**/

footer {
	margin: 40px 150px 40px;
    visibility: hidden;
}

em {
    font-style: italic;
	font-size:1.5em;
}

u {    
	font-size:0.80em;
}


/*--- Divs styles ---*/

#page {
   margin-bottom: 900px;
}

#paper-padding {
   padding: 72px;
}

.page-center {
   width:1280px;
}

.page-column {
    padding-top: 72px;
	width:50%;
	height:auto;
	float: left;
    font-size: 160%;
    text-align: center;
}

.page-text {
    padding-top: 80px;
    width:100%;
    text-align: center;
    font-size: 140%;    
}