@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);

#page {
	min-height: 750px;
	padding-top: 70px;
	padding-bottom: 24px;
}

#paper-sheet {
  height: 1080px;
  width: 100%;
	display:inline-block;
	background-color:white;
	border-radius:0;
}



/*--- Tag styles ---*/
body {
    font-family: 'Droid Serif', serif;
	font-weight: 400;
    color: black;
    font-size: 25.5px;
}

h1 { /* Story title */
	padding-top:3.08825em;/*First titles*/
	/*padding-top:2.206em;/*Pro/Epi-logues*/
	/*padding-top:0.294em;/*Last titles*/
	padding-bottom:0;
	margin-top:0;
	margin-bottom:0;
	text-align:center;
	font-size:4em;
	font-size:4em;
    text-decoration: underline;
}

h2 { /* Story title */
	padding-top:0.2352em;
	padding-bottom:0.2824em;
	margin-top:0;
	margin-bottom:0;
	text-align:center;
	font-size:2.5em;
}

h3 { /* Names */
	padding-top:0;
	padding-bottom:0;
	margin-top:0;
	margin-bottom:0;
	text-align:center;
	font-size:2.7em;
    font-style: italic;
}

 /* Paragraphs and dialogs */
/* White */
p {
	margin:0;
	padding: 0 5.190588235em 0.5em;
	text-indent:3.5em;
	text-align:justify;
	font-size:1.7em;
	font-weight: normal;
}
/**/
/* Black 
p {
	margin:0;
	padding: 0 5.190588235em 0.5em;
	text-indent:2.2em;
	text-align:justify;
	font-size:1.7em;
	font-weight: normal;
}
/**/

footer {
    visibility: hidden;
}

em {
    font-style: italic;
	font-size:1.5em;
}

u {    
	font-size:0.80em;
}


/*--- Divs styles ---*/

#page {
   margin-bottom: 900px;
}

#paper-padding {
   padding: 4.235em;
}

.page-center {
   width:1920px;
}

.page-column {
    padding-top: 3.67625em;
	width:50%;
	height:auto;
	float: left;
    font-size: 160%;
    text-align: center;
}

.page-text {
    padding-top: 3.361428571em;
    width:100%;
    text-align: center;
    font-size: 140%;    
}