@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);

#page {
	min-height: 750px;
	padding-top: 70px;
	padding-bottom: 24px;
}

#paper-sheet {
  height: 720px;
  width: 100%;
	display:inline-block;
	background-color:white;
	border-radius:0;
}


/*--- Tag styles ---*/
body {
	background-color:#eee;
  font-family: 'Droid Serif', serif;
	font-weight: 400;
}

h1 { /* Story title */
	padding-top:35px;
	margin-top:0px;
	margin-bottom:0px;
	text-align:center;
	font-size:2.5em;
	font-size:2.5em;
  text-decoration: underline;
}

h2 { /* Story title */
	margin-top:10px;
	margin-bottom:30px;
	text-align:center;
	font-size:1.5em;
}

p { /* Paragraphs and dialogs */
	margin:0;
	padding: 0 150px 1em;
	text-indent:2em;
	text-align: justify;
	font-size:1.60em;
	font-weight: normal;
}

footer {
	margin: 40px 150px 40px;
}


/*--- Divs styles ---*/

#page {
   margin-bottom: 900px;
}

#paper-padding {
   padding: 72px;
}

.page-center {
   width:1280px;
}
