@charset "utf-8";
/* CSS Document */

.column{
	width:50%;
	height:auto;
	margin:0;
	padding:0;
	float:left;
	display:inline-block;
}

.column-inner{
	width:100%;
	height:auto;
	margin:0px;
	padding:20px;
	text-indent: 2em;
}

.text-title{
	text-align: center;
}