<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700' rel='stylesheet' type='text/css'>
		<link rel=stylesheet href="/css/reset.css"/>
		<link rel=stylesheet href="/css/navbar.css"/>
		<link rel=stylesheet href="/css/footer.css"/>
		<link rel=stylesheet href="/css/page.css"/>
		<title>{{ page.title }}</title>
	</head>
	<body>
		{% include navbar.html %}
		<div id="page">
			<div class="page-center">
				<div id="page-inner">
					{{ content }}
				</div>
			</div>
		</div>
		{% include footer.html %}
	</body>
</html>