<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
		<link rel=stylesheet href="/css/reset.css"/>
		<link rel=stylesheet href="/css/navbar.css"/>
		<link rel=stylesheet href="/css/footer.css"/>
		<link rel=stylesheet href="/css/page.css"/>
		<title>{{ page.title }}</title>
	</head>
	<body>
		<img id="full-screen-background-image" src="/img/backgrounds/{{ page.background }}" />
		{% include navbar.html %}
        <div id="page">
            <div class="page-center">
                <div id="paper-sheet">
                    <div id="paper-padding">
                        {{ content }}
                        {% include footer.html %}
                    </div>
                </div>
            </div>
        </div>
	</body>
</html>
