<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<link rel=stylesheet href="/css/reset.css"/>
		<link rel=stylesheet href="/css/navbar.css"/>
		<link rel=stylesheet href="/css/nouvelle.css"/>
		<title>William Bussière - {{ page.title }}</title>
		<!--script language="javaScript" src="/js/right-click-disabled.js"></script-->
	</head>
	<body ondragstart="return false" onselectstart="return false"> <!-- Disabling copy paste -->
		{% include navbar.html %}
		<img id="full-screen-background-image" src="/img/backgrounds/{{ page.title }}.jpg" />
		<div id="page">
			<div id="maincontainer">
				<h1>{{ page.title }}</h1>
				{{ content }}
				{% include nouvelle-footer.html %}
			</div>
		</div>		
	</body>
</html>