/*--- Tag styles ---*/
body {
	margin:0;
	padding:0;
	background-color:#eec;
}

/*--- Divs styles ---*/

#page {
	width:820px;
	margin:10px;
	padding:10px;
	background-color:#fff;
	border-radius:10px;
}

#maincontainer {
	width:100%;
	margin:0 auto;
	padding:0;
}

/** Category **/

/*--- Classes ---*/
